@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar collapsed" style="background-image: none !important; background-color: #6A5ACD !important;">
         <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4 text-white shadow-sm" style="background-image: linear-gradient(to right, #6A5ACD 0%, #0d6efd 100%) !important;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </div>

        <article class="content px-4">
            @Body
        </article>
     </main>
</div>

<div id="blazor-error-ui">
     An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
     <a class="dismiss">🗙</a>
</div>