<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">FrontendBlazorApi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuarios" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/entregables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Entregables
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estados" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Estados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tipoproductos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> TipoProductos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tiporesponsables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> TipoResponsables
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tipoproyectos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> TipoProyectos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/variableestrategicas" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> VariableEstrategicas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/archivos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Archivo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/archivoentregables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Archivo Entregables
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/responsables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Responsable
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/responsableentregables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Responsable Entregables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/proyectos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Proyectos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/distribucionpresupuestos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Distribucion Presupuestos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ejecucionpresupuestos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Ejecucion Presupuestos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estado_proyectos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Estado Proyectos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/metaestrategicas" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Meta Estrategica
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/objetivoestrategicos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Objetivo Estrategico
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/presupuestos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Presupuestos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/productos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/actividades" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Actividades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/meta_proyectos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Meta Proyectos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/producto_entregables" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Producto_Entregables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/proyecto_productos" Match="NavLinkMatch.Prefix">
                <span class="oi oi-people" aria-hidden="true"></span> Proyecto_Productos
            </NavLink>
        </div>
    </nav>
</div>

